
<div class="w-full max-w-none flex-col">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl ">Weather Forecast</h1>
  <%= form_with(url: forecast_path, method: :get, 
    class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4", data: {
    controller: "search",
    action: "keyup->search#suggestions",
    suggestions_url: search_addresses_path,
    turbo_stream: true}) do |form| %>
      <div class="relative">
        <%= form.text_field :query, data: {
                search_target: "input",
                action: "blur->search#hideSuggestions",
            },
            class: "my-6 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
            placeholder: "Your Address", autocomplete: "off" %>
      </div>
      <%= hidden_field_tag :latitude, "", data: { search_target: "latitude" } %>
      <%= hidden_field_tag :longitude, "", data: { search_target: "longitude" } %>
      <%= hidden_field_tag :postcode, "", data: { search_target: "postcode" } %>
      <%= hidden_field_tag :country_code, "", data: { search_target: "country_code" } %>
      <div id="suggestions" class="realtive w-full mt-2 bg-white rounded-lg shadow-lg"
          data-search-target="suggestions" data-action="mousedown->search#childClicked">
        <%= render partial: "addresses/suggestions", locals: { results: [] } %>
      </div>
      <div class="relative">
        <%= form.submit "Get my local weather forecast!", 
          class: "my-6 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
      </div>
  <% end %>
  <div id="forecast">
  
  </div>
</div>
